.errors {
    font-size: small;
    color: var(--ion-color-majorelleblue);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ion-color-darkblue {
    --ion-color-base: var(--ion-color-darkblue);
    --ion-color-base-rgb: var(--ion-color-darkblue-rgb);
    --ion-color-contrast: var(--ion-color-darkblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkblue-shade);
    --ion-color-tint: var(--ion-color-darkblue-tint);
}

.ion-color-majorelleblue {
    --ion-color-base: var(--ion-color-majorelleblue);
    --ion-color-base-rgb: var(--ion-color-majorelleblue-rgb);
    --ion-color-contrast: var(--ion-color-majorelleblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-majorelleblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-majorelleblue-shade);
    --ion-color-tint: var(--ion-color-majorelleblue-tint);
}

.ion-color-mediumpurple {
    --ion-color-base: var(--ion-color-mediumpurple);
    --ion-color-base-rgb: var(--ion-color-mediumpurple-rgb);
    --ion-color-contrast: var(--ion-color-mediumpurple-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mediumpurple-contrast-rgb);
    --ion-color-shade: var(--ion-color-mediumpurple-shade);
    --ion-color-tint: var(--ion-color-mediumpurple-tint);
}

.ion-color-spanishpink {
    --ion-color-base: var(--ion-color-spanishpink);
    --ion-color-base-rgb: var(--ion-color-spanishpink-rgb);
    --ion-color-contrast: var(--ion-color-spanishpink-contrast);
    --ion-color-contrast-rgb: var(--ion-color-spanishpink-contrast-rgb);
    --ion-color-shade: var(--ion-color-spanishpink-shade);
    --ion-color-tint: var(--ion-color-spanishpink-tint);
}

.ion-color-cottoncandy {
    --ion-color-base: var(--ion-color-cottoncandy);
    --ion-color-base-rgb: var(--ion-color-cottoncandy-rgb);
    --ion-color-contrast: var(--ion-color-cottoncandy-contrast);
    --ion-color-contrast-rgb: var(--ion-color-cottoncandy-contrast-rgb);
    --ion-color-shade: var(--ion-color-cottoncandy-shade);
    --ion-color-tint: var(--ion-color-cottoncandy-tint);
}